---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Hannah Loss" description="About Me">
	<div class=" gap-20">

	

			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
				
			>
				<!-- <img
					width="1553"
					height="873"
					src=""
					alt="Hannah at work"
				/> -->
				</Hero>
			
		
				<main class="about-wrapper">
		
				
			

	
				<h2 class="section-title">Experience</h2>
			
			
			<div class="">
					
			
					
				
				</div>
			
		
			
				<h2 class="section-title">Education</h2>
				<div class="content">
					
					<strong>New York University </strong>
					<br>
						M.A. in Science, Health & Environmental Reporting 
						
					 
			
					<br>
					<br>
							
						
					<strong>Tufts University </strong>
					<br>
					BA in Environmental Studies and English
				</div>
			
		
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>	Audio editing (Adobe Audition, Hindenburg, ProTools); Video Editing (Adobe Premiere); CMS Management (Wordpress); MailChimp </p>
				</div>
		
			
		</main>

		
	</div>

	<ContactCTA />
</BaseLayout>

<style>
	.about {
	
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}



	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		padding-left: 0.5rem;
	}

	.about-wrapper {
		margin-top: 2rem;
display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 20px;
	}


	header {
  grid-area: header;
}

article {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

	

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
